<app-navbar-style-one></app-navbar-style-one>

<br><br><br><br><br>


<div class="section-title">
    <h2>Assurance Brêle</h2>
    <div class="bar"></div>
</div>

<div class="creative-area" *ngFor="let bgImage of creativeBGImage;" style="background-image: url({{bgImage.img}});">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
            </div>
        </div>
    </div>
</div>


<div class="secondBloc">
    <h3>Protégez votre exploitation agricole et sécurisez vos revenus</h3>
    <p>Parce que la chute de grêle peut en un instant détruire vos cultures et le fruit de vos efforts,
<br>
       <strong>ASSURANCES CTAMA</strong>  a pensé à vous avec le contrat d’assurance contre la grêle qui vous permet de garantir :</p>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> La perte de quantité de la production avant récolte et consécutive à la chute de grêle pour les grandes cultures, les cultures irriguées et les arboricultures (seuls les fruits sont assurés) selon les conditions particulières du contrat et pour une période limitée,</span></li>
            <li><span><i-feather name="check"></i-feather> Les dommages subis par les pépinières suite à la chute de grêle ou passage d’un ouragan sur la base des frais de l’exploitation prévus pour les superficies sinistrées.</span></li>
        </ul>
    </div>
</div>

<div class="secondBloc">
    <h3>Un contrat souple selon vos choix</h3>
    <p>Suite à votre demande, il est possible de</p>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> Prolonger la durée de couverture </span></li>
            <li><span><i-feather name="check"></i-feather>  Couvrir la perte de qualité</span></li>
            <li><span><i-feather name="check"></i-feather> Diminuer ou augmenter le rendement et le prix déclaré lors de la souscription.</span></li>
        </ul>
    </div>
</div>

<div class="secondBloc">
    <h3>Comment souscrire un contrat d’assurance contre la grêle ?</h3>
    <p>Pour conclure un contrat d’assurance contre la grêle, il faut :</p>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather>  Déclarer toutes les informations concernant la parcelle assurée (lieu et zones limitrophes)</span></li>
            <li><span><i-feather name="check"></i-feather>  Déclarer la nature de la production, le rendement attendu et le prix de vente</span></li>
            <li><span><i-feather name="check"></i-feather>  Déclarer tous les risques possibles,</span></li>
            <li><span><i-feather name="check"></i-feather>  Pour les contrats d’assurance des pépinières, l’assuré doit, lors de la souscription, déclarer la superficie totale exploitée et les frais nécessaires selon la superficie</span></li>
        </ul>
    </div>
</div>

<div class="secondBloc">
    <h3>Quel est la cotisation d’assurance contre la grêle ?</h3>
    <p>Les tarifs appliqués pour calculer la cotisation d’assurance contre la grêle varient d’une région à une autre selon les caractéristiques climatiques de chaque région et la nature des cultures…
    </p>
</div>

<div class="secondBloc">
    <h3>Que faire en cas de sinistre ?</h3>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather>  Décaler la survenance du sinistre suite à la chute de grêle dans un délai ne dépassant pas les 05 jours</span></li>
            <li><span><i-feather name="check"></i-feather>  Prendre des mesures de sauvetage pour les arbres suite à la chute de grêle jusqu’à ce que les experts arrivent</span></li>
        </ul>
    </div>
</div>

<div class="secondBloc">
    <h3>Comment se passe l’indemnisation ?</h3>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather>  L’évaluation des dégâts est effectuée par un expert</span></li>
            <li><span><i-feather name="check"></i-feather>  L’indemnisation se fait dans délai d’un mois à partir de la date de survenance du sinistre</span></li>
            <li><span><i-feather name="check"></i-feather>  L’indemnisation ne doit pas dépasser la valeur assurée après déduction de la franchise appliquée dans le contrat.</span></li>
        </ul>
    </div>
</div>