<app-navbar-style-one></app-navbar-style-one>

<!-- Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="section-title">
                <h2>Contactez nous</h2>
                <p class="bar"></p>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape11.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</div>

<!-- Contact Info -->
<div class="contact-info-area ptb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i-feather name="clock"></i-feather>
                    </div>
                    <h3>RAMADAN :</h3>
                     <ul class="footer-contact-info">
                          <!-- <br> -->
                           <strong> Lundi-Vendredi :</strong>
                            08h-14h <br>
                           <strong>Samedi :</strong>
                            08h-12:30     
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i-feather name="clock"></i-feather>
                    </div>
                    <h3>ÉTÉ :</h3>
                     <ul class="footer-contact-info">
                          <!-- <br> -->
                           <strong> Lundi-Vendredi :</strong>
                            07:30-13:30 <br>
                           <strong>Samedi :</strong>
                            08h-12h     
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i-feather name="clock"></i-feather>
                    </div>
                    <h3>HIVER :</h3>
                     <ul class="footer-contact-info">
                          <!-- <br> -->
                           <strong> Lundi-Vendredi :</strong>
                            08h-12h - 13h-17h <br>
                           <strong>Samedi :</strong>
                            08h-12h     
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-4">
                <div class="contact-info-box">
                    <div class="icon">
                        <i-feather name="map-pin"></i-feather>
                    </div>
                    <h3>Visitez nous</h3>
                    <ul class="footer-contact-info">
                         <a href="https://maps.app.goo.gl/N2eiDqXFzHCB1Pc48">100 avenue de la liberté 1002 <br> - Tunis  </a>   
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-4">
                <div class="contact-info-box">
                    <div class="icon">
                        <i-feather name="phone-call"></i-feather>
                    </div>
                    <h3>Appelez nous</h3>
                    <p><a href="tel:+ (216) 70 55 68 00 ">[+216] 70 55 68 00</a></p>
                    <p><a href="tel:+ (216) 71 78 41 49">[+216] 71 78 41 49</a></p>

                </div>
            </div>
        </div>
    </div>
</div>



<!-- Contact -->
<div class="contact-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Restez en contact avec nous
            </h2>
            <div class="bar"></div>
            <p>Tout ce qui vous préoccupe. Nous serons heureux de vous aider!</p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <img src="assets/img/20944081.png" alt="image">
            </div>
            <div class="col-lg-6 col-md-12">
                <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                          <input type="email" formControlName="email" class="form-control" placeholder="Email">
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-6">
                        <div class="form-group">
                          <input type="text" formControlName="subject" class="form-control" placeholder="Subject">
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                          <textarea formControlName="message" class="form-control" cols="30" rows="5" placeholder="Your Message"></textarea>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12">
                        <button type="submit" class="btn btn-primary">Envoyer Message</button>
                      </div>
                    </div>
                  </form>
                  
            </div>
        </div>
    </div>
</div>