<app-navbar-style-one></app-navbar-style-one>

<br><br><br><br><br>


<div class="section-title">
    <h2>Corps navire de pêche</h2>
    <div class="bar"></div>
</div>

<div class="creative-area" *ngFor="let bgImage of creativeBGImage;" style="background-image: url({{bgImage.img}});">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
            </div>
        </div>
    </div>
</div>


<div class="secondBloc">
    <h3>Vous utilisez votre navire dans le cadre de votre activité professionnelle, certains évènements ou fortunes de mer peuvent vous empêcher d’exercer votre activité en toute sérénité :</h3>
    <p>
        Notre contrat d’assurance «corps navire de pêche» vous couvre contre les risques cités ci-dessous en vous offrant deux formules de garantie :
    </p>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather>  La « Tous risques » vous assure contre tous les dommages et pertes qui arrivent au navire assuré par tempête, naufrage, échouement, abordage, jet, feu, explosion pillage et généralement tous les accidents, évènements ou fortunes de mer</span></li>
            <li><span><i-feather name="check"></i-feather> La perte totale et délaissement qui couvre l’armement spécial et le matériel de pêche.</span></li>
        </ul>
    </div>
    <h6>
        <strong>À noter qu’une visite préalable sera effectuée avant la souscription de ce contrat.</strong>
    </h6>
</div>

<div class="secondBloc">
    <h3>Que faire en cas de sinistre ?</h3>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> Déclarer la survenance du sinistre dans un délai de 05 jours</span></li>
            <li><span><i-feather name="check"></i-feather> Présenter les papiers nécessaires (congé et permis de navigation).</span></li>
        </ul>
    </div>
</div>