<footer class="footer-area bg-f7fafd">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a routerLink="/"><img src="assets/img/ctama.png" alt="logo" style="width: 30%; height: 30%;"></a>
                    </div>
                    <p>
                        La Caisse Tunisienne d’Assurances Mutuelles Agricoles (CTAMA) est une Société à Forme Mutuelle régie par le décret N° 92-2257 du 31 Décembre 1992. Elle est le doyen des sociétés d’assurance en Tunisie.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>CTAMA</h3>
                    <ul class="list">
                        <li><a routerLink="/">Acceuil</a></li>
                        <li><a routerLink="/a_propos">A propos</a></li>
                        <li><a routerLink="/actualites">Actualités</a></li>
                        <li><a routerLink="/agence">Agences</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Support</h3>
                    <ul class="list">
                        <li><a routerLink="/faq">FAQ's</a></li>
                        <li><a routerLink="/contact">Contactez-nous</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>
                    <ul class="footer-contact-info">
                        <li><i-feather name="map-pin"></i-feather> 100 avenue de la liberté 1002 - Tunis</li>                      
                        <!-- <li><i-feather name="mail"></i-feather> Email: <a href="mailto:info&#64;oziss.fr">info&#64;oziss.fr</a></li> -->
                        <li><i-feather name="phone"></i-feather> Tél: <a href="tel:+ (+216) 70 556 800">(+216) 70 55 68 00</a></li>
                        <li><i-feather name="phone"></i-feather> FAX: <a href="tel:+  (+216) 71 784 149"> (+216) 71 78 41 49</a></li>

                    </ul>
                    <ul class="social-links">
                        <li><a href="" class="facebook" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                        <li><a href="#" class="twitter" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                        <li><a href="" class="instagram" target="_blank"><i-feather name="instagram"></i-feather></a></li>
                        <li><a href="" class="linkedin" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="copyright-area">
                    <p>© CTAMA is Proudly Owned by <a  target="_blank">Assurances CTAMA</a></p>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/map.png" class="map" alt="map">
    <div class="shape1"><img src="assets/img/shape11.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</footer>