<app-navbar-style-one></app-navbar-style-one>

<!-- Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="section-title">
                <h2>Qui Sommes-Nous ?</h2>
                <p class="bar"></p>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape11.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape22.png" alt="shape" ></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</div>

<!-- About -->
<div class="agency-about-area ptb-10">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class=" imageText col-lg-6 col-md-12">
                <h2>Bienvenue à CTAMA</h2>
                <div class="bar"></div>
                <p>
                    La Caisse Tunisienne d’Assurances Mutuelles Agricoles (CTAMA) est une Société à Forme Mutuelle régie par le décret N° 92-2257 du 31 Décembre 1992. Elle est le doyen des sociétés d’assurance en Tunisie.

                    Créée en 1912 sous forme d’une Caisse Mutuelle Agricole pour couvrir les risques grêles et mortalité de bétail.
                </p>
                <div class="agency-about-img">
                    <img src="assets/img/about.jpg" alt="image" class="responsive-image">
                </div>
                
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="agency-about-content">


                    <div class="timeline-container">
                        <div class="timeline">
                            <!-- Timeline Item 1 -->
                            <div class="timeline-item">
                                <div class="timeline-icon">1</div>
                                <div class="timeline-content">
                                    <h3>1912</h3>
                                    <p>La constitution de la Caisse Mutuelle Agricole spécialisée en assurance grêle et mortalité de bétail.</p>
                                </div>
                            </div>
                    
                            <!-- Timeline Item 2 -->
                            <div class="timeline-item">
                                <div class="timeline-icon">2</div>
                                <div class="timeline-content">
                                    <h3>26 mars 1931</h3>
                                    <p>Publication du décret regissant les Caisses Mutuelles d’Assurances Agricoles ainsi que leur gestion.
                                    </p>
                                </div>
                            </div>
                    
                            <!-- Timeline Item 3 -->
                            <div class="timeline-item">
                                <div class="timeline-icon">3</div>
                                <div class="timeline-content">
                                    <h3>28 avril 1961</h3>
                                    <p>La Tunisification et la constitution de la Caisse Tunisienne d’Assurances Mutuelles Agricoles (CTAMA).
                                    </p>
                                </div>
                            </div>
                    
                            <!-- Timeline Item 4 -->
                            <div class="timeline-item">
                                <div class="timeline-icon">4</div>
                                <div class="timeline-content">
                                    <h3>21 février 2008</h3>
                                    <p>Tenu de l’Assemblée Générale Extraordinaire de la CTAMA qui a décidé la modification de sa forme juridique en une Société à Forme Mutuelle régie par le décret du 31 Décembre 1992.
                                    </p>
                                </div>
                            </div>
                    
                            <!-- Timeline Item 5 -->
                            <div class="timeline-item">
                                <div class="timeline-icon">5</div>
                                <div class="timeline-content">
                                    <h3>08 janvier 2009 </h3>
                                    <p>Obtention de l'agrément du ministère de finance de la CTAMA sous sa nouvelle forme en tant que société d’assurances à forme mutuelle.
                                    </p>
                                </div>
                            </div>

                            <!-- Timeline Item 6 -->
                            <div class="timeline-item">
                                <div class="timeline-icon">6</div>
                                <div class="timeline-content">
                                    <h3>2014</h3>
                                    <p>Fusion de la Mutuelle Générale d’Assurance avec la Caisse Tunisienne d’Assurances Mutuelles Agricoles
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="shape2 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</div>






<div class="repair-about-area ptb-80">
    <div class="container">
        <div class="row">
                <div class="about-content">
                    <ul>
                        <li><span> <strong>Raison sociale :</strong>Caisse Tunisienne d’Assurances Mutuelles Agricoles (Assurances CTAMA)</span></li>
                        <li><span> <strong>Statut juridique : </strong> Société mutuelle d’assurances</span></li>
                        <li><span> <strong>Registre de commerce : </strong> B1101991997</span></li>
                        <li><span><strong>Matricule fiscal : </strong> 05855 P/P/M/000</span></li>  
                        <li><span><strong>Adresse : </strong> 100 avenue de la liberté 1002 - Tunis</span></li>                        
                        <li><span><strong>Tél/fax  : </strong> 70 55 68 00 / 71 78 41 49</span></li>                        

                    </ul>
                </div>
        </div>
    </div>
</div>



