<app-navbar-style-one></app-navbar-style-one>

<br><br><br><br><br>


<div class="section-title">
    <h2>Responsabilité civile agriculteur</h2>
    <div class="bar"></div>
</div>

<div class="creative-area" *ngFor="let bgImage of creativeBGImage;" style="background-image: url({{bgImage.img}});">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
            </div>
        </div>
    </div>
</div>


<div class="secondBloc">
    <h3>Vous êtes céréalier, éleveur, maraîcher, arboriculteur…nous connaissons bien les risques et les besoins liés à votre activité agricole. Nous vous proposons alors des assurances spécifiques pour vous permettre d’exercer votre métier en toute sérénité.
    </h3>
    <h4>
        Notre contrat « responsabilité civile de l’agriculteur » vous permet d’être couvert contre les conséquences pécuniaires de la responsabilité civile que vous pouvez encourir en raison des dommages corporels, matériels et immatériels causés aux tiers suite à un accident résultant de l’activité de votre exploitation agricole.
    </h4>
    <p>
        Aussi cette garantie s’applique aux dommages causés par :
    </p>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather>Les batiments à usage d’exploitation, les arbres et les clotures</span></li>
            <li><span><i-feather name="check"></i-feather> Les animeaux y compris les chiens</span></li>
            <li><span><i-feather name="check"></i-feather> Les biens et équipements mobiliers dont le sociétaire a la propriété, la garde ou l’usage. Notamment Le matériel, les bicyclettes et les véhicules sans moteur de l’exploitation, etc.</span></li>
        </ul>
    </div>
</div>
