<app-navbar-style-one></app-navbar-style-one>

<br><br><br><br><br>


<div class="section-title">
    <h2>Chambres frigorifiques</h2>
    <div class="bar"></div>
</div>

<div class="creative-area" *ngFor="let bgImage of creativeBGImage;" style="background-image: url({{bgImage.img}});">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
            </div>
        </div>
    </div>
</div>


<div class="secondBloc">
    <h3>Chambres frigorifiques</h3>
    <p>Les chambres frigorifiques peuvent être assurées vides ou avec un stock contre l’incendie. Le contenu est aussi couvert en cas de défaillance de l’équipement de refroidissement.
    </p>
    <p>Le contrat d'assurance est d'une durée d'un an ferme.</p>
</div>

<div class="secondBloc">
    <h3>Conditions d'assurance</h3>
    <p>
        Pour assurer les chambres frigorifiques, il faut :
        <br>
        <i-feather name="check" class="checking"></i-feather> Estimer la valeur des bâtiments et des équipements,
        <br>
        <i-feather name="check" class="checking"></i-feather> Présenter les factures du stock,
        <br>
        <i-feather name="check" class="checking"></i-feather> Effectuer une visite préalable d’un expert.
        <br>
    </p>
</div>