<app-navbar-style-one></app-navbar-style-one>

<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="section-title">
                <h2>Habitation</h2>
                <p class="bar"></p>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape11.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</div>



<div class="services-details-area ptb-80">
    
    <div class="container">
        <div class="service-path">
            <a routerLink="/" class="service-link">Accueil</a> 
        </div>
        <br><br>
        <div class="row align-items-center">
            <div [ngClass]="{'col-lg-6': true, 'order-lg-1': !isImageOnLeft}" class="services-details">
                <div class="services-details-desc">
                    <h3>ASSURANCE MULTIRISQUES HABITATION</h3>
                    <p>Vous êtes propriétaire ou locataire, d’une maison ou d’un appartement, votre logement est le lieu essentiel de votre vie.</p>
                </div>
            </div>
            <div [ngClass]="{'col-lg-6': true, 'order-lg-0': isImageOnLeft}" class="services-details-image">

                <img src="../../../../../assets/img/house.jpg" class="animate__animated animate__fadeInUp" alt="image">
            </div>
        </div>
    </div>
</div>

<div class="secondBloc">
    <h3>Le contrat d’assurance multirisques habitation de la CTAMA vous offre plusieurs garanties regroupées en un seul contrat qui vous couvre contre les risques domestiques tels que :</h3>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> Le vol du mobilier et des objets de valeurs,</span></li>
            <li><span><i-feather name="check"></i-feather> Le bris de glace,</span></li>
            <li><span><i-feather name="check"></i-feather> Les dégâts des eaux,</span></li>
            <li><span><i-feather name="check"></i-feather> RC familiale (RC chef de famille).</span></li>
            <li><span><i-feather name="check"></i-feather> L’incendie et les explosions ainsi que les risques annexes touchant les bâtiments et le mobilier,</span></li>

        </ul>
    </div>
</div>

<div class="secondBloc">
    <h3>Avantages du contrat:</h3>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> La simplification des procédures administratives : un seul contrat et plusieurs garanties, </span></li>
            <li><span><i-feather name="check"></i-feather> Le coût du contrat multirisques est réduit jusqu’à 50% par rapport à l’ensemble des garanties accordées sur un contrat séparé,</span></li>
            <li><span><i-feather name="check"></i-feather> Le risque incendie sur l’immobilier est assuré dans la limite des capitaux déclarés ; les bâtiments sont indemnisés sur la base de la valeur de reconstruction le jour du sinistre.</span></li>
            <li><span><i-feather name="check"></i-feather> Le vol du mobilier et des objets de valeurs,</span></li>
        </ul>
    </div>
</div>

<div class="secondBloc">
    <h3>La CTAMA peut vous accorder pour chaque contrat Multirisques Habitation une assistance domiciliaire gratuite pour une intervention en matière de :</h3>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather>  Plomberie</span></li>
            <li><span><i-feather name="check"></i-feather>  Électricité</span></li>
            <li><span><i-feather name="check"></i-feather>  Serrurerie</span></li>
            <li><span><i-feather name="check"></i-feather>  Vitrerie</span></li>
        </ul>
    </div>
</div>