<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Ajouter une actualite" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

            </p-toolbar>




            <p-table #dt [value]="actualites" [columns]="cols" responsiveLayout="scroll" [rows]="5" [globalFilterFields]="['nom']" [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedActualites" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage actualites</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Image</th>
                        <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                        <th>Action</th>

                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-actualite>
                    <tr>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Image</span>
                            <img [src]="getImageUrl(actualite.image)" [alt]="actualite.image" width="100" class="shadow-4" />
                          </td>          
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">nom</span>
                            {{actualite.nom}}
                        </td>         
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">desccrption</span>
                            {{actualite.description}}
                        </td>      
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editActualite(actualite)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteActualite(actualite)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>






        <p-dialog [(visible)]="actualiteDialog" [style]="{width: '450px'}" header="Détails du commercial" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="actualiteForm" (ngSubmit)="saveActualite()">
                    <div class="field">
                        <label for="nom">Nom</label>
                        <input type="text" pInputText id="nom" formControlName="nom" required autofocus 
                               [ngClass]="{'ng-invalid ng-dirty': submitted && actualiteForm.get('nom')!.invalid}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && actualiteForm.get('nom')!.invalid">Nom est requis.</small>
                    </div>
                    <div class="field">
                        <label for="description">Description</label>
                        <input type="text" pInputText id="description" formControlName="description" required autofocus 
                               [ngClass]="{'ng-invalid ng-dirty': submitted && actualiteForm.get('description')!.invalid}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && actualiteForm.get('description')!.invalid">description est requis.</small>
                    </div>
                   
                    <div class="field">
                        <label for="image">Image</label>
                        <p-fileUpload mode="basic" name="image" accept="image/*" maxFileSize="1000000" 
                                      (onSelect)="onFileSelected($event)" label="Choisir une image" chooseLabel="Choisir une image">
                        </p-fileUpload>
                    </div>
                </form>
            </ng-template>
        
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="saveActualite()"></button>
            </ng-template>
        </p-dialog>

        

        <p-dialog [(visible)]="deleteActualiteDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span *ngIf="actualite">Vous voulez supprimer ce actualite ?</span>
            </div>
            <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteActualiteDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>


    </div>
</div>
