<app-navbar-style-one></app-navbar-style-one>

<br><br><br><br><br>


<div class="section-title">
    <h2>Assurance mortalité du bétail  </h2>
    <div class="bar"></div>
</div>

<div class="creative-area" *ngFor="let bgImage of creativeBGImage;" style="background-image: url({{bgImage.img}});">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
            </div>
        </div>
    </div>
</div>


<div class="secondBloc">
    <h3>Vos animaux, votre cheptel, constituent le capital productif de votre exploitation agricole.
    </h3>
    <p>
        Les soins que vous leur portez au quotidien témoignent de votre attachement à leur bien-être.
        <br>
        Assurances CTAMA vous propose un contrat simple pour assurer vos animaux et vous prémunir en cas de mortalité de votre bétail
    </p>
</div>

<div class="secondBloc">
    <h3>Quels sont les risques contre lesquels les différentes espèces d’animaux sont garanties ?</h3>
    <h4>L’espèce bovine laitière de 6 mois à 10 ans , chevaline et asine de 6 mois à 13 ans et l'espèce mulassière de 6 mois à 15 ans et l’espèce cameline</h4>

    <p>La CTAMA garantit ces espèces désignées aux conditions particulières, durant une année ferme, contre
    </p>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> Mortalité d’ordre naturelle ou accidentelle de votre cheptel</span></li>
            <li><span><i-feather name="check"></i-feather> Mortalité survenue 08 jours après naissancee</span></li>
            <li><span><i-feather name="check"></i-feather> Avortement 07 mois de gestation</span></li>
            <li><span><i-feather name="check"></i-feather> Mortinatalité</span></li>
            <li><span><i-feather name="check"></i-feather> Abattage d’urgence</span></li>

        </ul>
    </div>
    <p>Sauf les maladies contagieuses et les réformes économiques</p>
</div>

<div class="secondBloc">
    <h4>Taurillon d'engraissement âgés de 6 mois à 5 ans</h4>

    <p>La CTAMA garantit les taurillons d’engraissement âgés de 6 mois à 5 ans durant 6 mois , indiqués dans les conditions particulières, contre les risques suivants</p>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> Mortalité d’ordre naturelle ou accidentelle</span></li>
            <li><span><i-feather name="check"></i-feather> Abattage d’urgence</span></li>
        </ul>
    </div>
</div>

<div class="secondBloc">
    <h4>L’espèce ovine et caprine</h4>

    <p>La CTAMA garantit contre les risques suivants :</p>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> Mortalité d’ordre naturelle ou accidentelle</span></li>
            <li><span><i-feather name="check"></i-feather> Abattage d’urgence</span></li>
        </ul>
    </div>
    <p>Avec le transport du cheptel comme extension de garantie</p>
</div>

<div class="secondBloc">
    <h4>l’espèce volailles</h4>

    <p>C’est un risque très délicat vue la spécificité de l’élevage avicole qui est hors-sol (élevage industriel) dont les risques garantis sont multiples (d’ordre naturel ou accidentel).</p>
    <p>Soit une multirisque qui touche les élevages des poulets et des dindes pour les différentes catégories : chair, pondeuse, et reproducteur où la durée du contrat, le tarif et la modalité de remboursement sont variables selon la nature de l’élevage.</p>
</div>

<div class="secondBloc">
    <h3>Quels sont les pièces à fournir pour la souscription du contrat ?</h3>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather>Liste du cheptel identifié à assurer (tableau de marquage)</span></li>
            <li><span><i-feather name="check"></i-feather> Attestation des vaccins</span></li>
            <li><span><i-feather name="check"></i-feather> Visite préalable du vétérinaire.</span></li>
        </ul>
    </div>
</div>

<div class="secondBloc">
    <h3>Que faire en cas de sinistre ?</h3>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather>Déclaration du sinistre dans un délai de 24H à compter de la date de survenance du sinistre</span></li>
            <li><span><i-feather name="check"></i-feather> Le numéro de la vache et le type de sinistre</span></li>
            <li><span><i-feather name="check"></i-feather> Certificat médical « vétérinaire »</span></li>
            <li><span><i-feather name="check"></i-feather> Tableau de marquage</span></li>
            <li><span><i-feather name="check"></i-feather> Facture de vente « cas d’abattage d’urgence » et le certificat d’abattage</span></li>
        </ul>
    </div>
</div>