<app-navbar-style-one></app-navbar-style-one>
<br><br><br><br><br>


<div class="section-title">
    <h2>Agriculteurs</h2>
    <div class="bar"></div>
</div>

<div class="creative-area" *ngFor="let bgImage of creativeBGImage;" style="background-image: url({{bgImage.img}});">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
            </div>
        </div>
    </div>
</div>

<div class="agency-services-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="agency-services-box">
                    <div class="image-container">
                        <img src="assets/img/agriculteurs/grele.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3><a routerLink="/agriculteurs/assurance-grele">Assurance grêle</a></h3>
                        <a routerLink="/agriculteurs/assurance-grele" class="read-more-btn">Savoir plus <i-feather name="plus-circle"></i-feather></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="agency-services-box">
                    <div class="image-container">
                        <img src="assets/img/agriculteurs/incendies.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3><a routerLink="/agriculteurs/assurance-incendie-recolte">Assurance incendie</a></h3>
                        <a routerLink="/agriculteurs/assurance-incendie-recolte" class="read-more-btn">Savoir plus <i-feather name="plus-circle"></i-feather></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="agency-services-box">
                    <div class="image-container">
                        <img src="assets/img/agriculteurs/Mutirisques.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3><a routerLink="/agriculteurs/assurance-mutirisques-serres">Mutirisques serres</a></h3>
                        <a routerLink="/agriculteurs/assurance-mutirisques-serres" class="read-more-btn">Savoir plus <i-feather name="plus-circle"></i-feather></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="agency-services-box">
                    <div class="image-container">
                        <img src="assets/img/agriculteurs/bétail.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3><a routerLink="/agriculteurs/assurance-betails">Assurance mortalité du bétail</a></h3>
                        <a routerLink="/agriculteurs/assurance-betails" class="read-more-btn">Savoir plus <i-feather name="plus-circle"></i-feather></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="agency-services-box">
                    <div class="image-container">
                        <img src="assets/img/agriculteurs/agriculteurss.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3><a routerLink="/agriculteurs/assurance-responsabilite-civile-agriculteurs">Responsabilité civile agriculteurs</a></h3>
                        <a routerLink="/agriculteurs/assurance-responsabilite-civile-agriculteurs" class="read-more-btn">Savoir plus <i-feather name="plus-circle"></i-feather></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="agency-services-box">
                    <div class="image-container">
                        <img src="assets/img/agriculteurs/apicole.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3><a routerLink="/agriculteurs/assurance-multirisques-apicole">Assurance multirisques apicole</a></h3>
                        <a routerLink="/agriculteurs/assurance-multirisques-apicole" class="read-more-btn">Savoir plus <i-feather name="plus-circle"></i-feather></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="agency-services-box">
                    <div class="image-container">
                        <img src="assets/img/agriculteurs/frigorifiques.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3><a routerLink="/agriculteurs/assurance-chambres-frigorifiques">Chambres frigorifiques</a></h3>
                        <a routerLink="/agriculteurs/assurance-chambres-frigorifiques" class="read-more-btn">Savoir plus <i-feather name="plus-circle"></i-feather></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="agency-services-box">
                    <div class="image-container">
                        <img src="assets/img/agriculteurs/peche.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3><a routerLink="/agriculteurs/assurance-corp-navire-de-peche">Corp navire de pêche</a></h3>
                        <a routerLink="/agriculteurs/assurance-corp-navire-de-peche" class="read-more-btn">Savoir plus <i-feather name="plus-circle"></i-feather></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape11.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape22.png" alt="shape" ></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</div>