<app-navbar-style-one></app-navbar-style-one>

<br><br><br><br><br>


<div class="section-title">
    <h2>Assurance multirisques apicoles</h2>
    <div class="bar"></div>
</div>

<div class="creative-area" *ngFor="let bgImage of creativeBGImage;" style="background-image: url({{bgImage.img}});">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
            </div>
        </div>
    </div>
</div>




<div class="secondBloc">
    <h3>En tant qu’apiculteur, avez-vous pris toutes les mesures nécessaires pour protéger au mieux vos ruches et votre activité apicole?</h3>
    <p>CTAMA innove et vous propose le produit « APICERTI » </p>
</div>

<div class="secondBloc">
    <h3>APICERTI est un contrat multirisques apicoles qui permet aux apiculteurs d’assurer leurs ruches contre :</h3>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> L'incendie</span></li>
            <li><span><i-feather name="check"></i-feather> Le vol</span></li>
            <li><span><i-feather name="check"></i-feather> La Mortalité naturelle ou accidentelle</span></li>
            <li><span><i-feather name="check"></i-feather> La mortalité due aux pesticides.</span></li>
        </ul>
    </div>
</div>

<div class="secondBloc">
    <h3>Également, assurances CTAMA vous propose des garanties optionnelles pour couvrir tous vos risques, telles que:</h3>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> Les accidents de transport</span></li>
            <li><span><i-feather name="check"></i-feather> La mortalité due aux hautes températures supérieures à 40°Celsius.</span></li>
        </ul>
    </div>
</div>

<div class="secondBloc">
    <h3>Que faire en cas de sinistre ?</h3>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather>  Signaler immédiatement le sinistre à la CTAMA dès sa constatation</span></li>
            <li><span><i-feather name="check"></i-feather>  S’il s’agit d’un vol, d’un acte de vandalisme ou d’un incendie, déposer immédiatement une plainte auprès des autorités compétentes</span></li>
            <li><span><i-feather name="check"></i-feather>   En cas de mortalité, procéder à des prélèvements d’abeilles mortes, d’abeilles mourantes, de cires avec couvain et pollen et les stocker au congélateur, et informer immédiatement la CTAMA</span></li>
            <li><span><i-feather name="check"></i-feather>   Prendre des photos le jour même du sinistre, si possible, pour appuyer le rapport.</span></li>       
        </ul>
    </div>
</div>

