<app-navbar-style-one></app-navbar-style-one>

<br><br><br><br><br>


<div class="section-title">
    <h2>Assurance Incendie</h2>
    <div class="bar"></div>
</div>

<div class="creative-area" *ngFor="let bgImage of creativeBGImage;" style="background-image: url({{bgImage.img}});">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
            </div>
        </div>
    </div>
</div>


<div class="secondBloc">
    <h3>Protégez votre production contre l’incendie</h3>
    <p>Le contrat d’assurance incendie récolte de la CTAMA permet aux agriculteurs d’assurer leur production sur pieds, stockés en meules de pailles ou de foin contre le risque incendie.</p>
</div>

<div class="secondBloc">
    <h3>Pour conclure ce contrat, il faut déclarer :</h3>
    <h4>Récolte sur pieds</h4>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> Toute information qui concerne la parcelle assurée, </span></li>
            <li><span><i-feather name="check"></i-feather> La nature de production, le rendement attendu et le prix de vente.</span></li>
        </ul>
    </div>
</div>

<div class="secondBloc">
    <h4> Stockage (en plein air)</h4>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> Nature du stock, la quantité et le prix.</span></li>
        </ul>
    </div>
</div>

<div class="secondBloc">
    <h4>Stockage (sous hangars)</h4>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> La valeur du bâtiment, la valeur des produits stockés à l’intérieur et l’emplacement du hangar.</span></li>
        </ul>
    </div>
</div>

<div class="secondBloc">
    <h3>Que faire en cas de sinistre ?</h3>
    <p>
        Une déclaration doit être envoyée à la CTAMA (par télégramme ou par écrit via une agence CTAMA) dans un délai ne dépassant pas les cinq jours et présenter les pièces suivantes :
        <br>
        <i-feather name="check" class="checking"></i-feather> Attestation de la protection civile,
        <br>
        <i-feather name="check" class="checking"></i-feather> Procès verbal auprès des autorités.
        <br>
    </p>
    <h6><strong>Suite à la déclaration, l’expert évalue les dégâts
    </strong></h6>
</div>