<app-navbar-style-one></app-navbar-style-one>

<br><br><br><br><br>


<div class="section-title">
    <h2>Assurance Multirisque Serres</h2>
    <div class="bar"></div>
</div>

<div class="creative-area" *ngFor="let bgImage of creativeBGImage;" style="background-image: url({{bgImage.img}});">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
            </div>
        </div>
    </div>
</div>


<div class="secondBloc">
    <h3>ASSURANCE MULTIRISQUES SERRES</h3>
    <p><strong>Les risques Grêle, incendie, foudre, neige, tempête, explosion… peuvent détruire tout ou une partie de vos serres</strong>
    <br>
    <strong>Assurances CTAMA</strong> est toujours là et vous propose un contrat d’assurance « multirisques serres » avec une panoplie de garanties à même de sécuriser vos serres.
    </p>
</div>

<div class="secondBloc">
    <h3>Quel est l’objet de la garantie du contrat d’assurances « multirisques serres »?
    </h3>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> Les bâtiments de chaufferie et bâtiments annexes,</span></li>
            <li><span><i-feather name="check"></i-feather> Les installations fixes et agencements dans les serres et bâtiments assuré,</span></li>
            <li><span><i-feather name="check"></i-feather> Les installations de chauffage, de climatisation et les générateurs de gaz</span></li>
            <li><span><i-feather name="check"></i-feather> Le matériel utilisé pour les cultures sous serres pour autant que ces cultures soient assurées.</span></li>
            <li><span><i-feather name="check"></i-feather> Les citernes de carburants et leur contenu</span></li>
            <li><span><i-feather name="check"></i-feather> Les plantes cultivées sous les serres</span></li>
            <li><span><i-feather name="check"></i-feather> Les serres couvertes en verres ou plastiques ainsi que leurs équipements à l’exclusion des serres dont les verres ont une épaisseur inférieure à 2 mm</span></li>


        </ul>
    </div>
</div>

<div class="secondBloc">
    <h3>Quels sont les risques assurés ?
    </h3>
    <div class="repair-about-content">
        <ul>
            <li><span><i-feather name="check"></i-feather> Les explosions : la CTAMA assure les dommages matériels causés par les explosions de toutes natures consécutives, c'est-à-dire toute action subite et violente de la pression ou la dépression de gaz ou de vapeurs,</span></li>
            <li><span><i-feather name="check"></i-feather> La neige : l’accumulation des flocons de neige entraînant un effondrement partiel ou total de la construction. Il est possible d’étendre la couverture en ajoutant d’autres garanties (tel que le matériel électronique),</span></li>
            <li><span><i-feather name="check"></i-feather> La tempête : les serres sont assurées contre les dommages qui peuvent avoir lieu suite à la tempête de vent (ne dépassant pas les 80km/h) sous toutes ses formes ou suite aux dégâts causés par la tempête dans un rayon de 5km autour du lieu du risque assuré.</span></li>
            <li><span><i-feather name="check"></i-feather> La congélation de la neige et/ou de l’eau retenue par les constructions, provoquant à la suite d’un abaissement de température, l’éclatement des surfaces vitrées,</span></li>
            <li><span><i-feather name="check"></i-feather> La grêle, l’incendie, la foudre,</span></li>
            <li><span><i-feather name="check"></i-feather> La chute d’aéronefs et dépassement du mur du son,</span></li>

        </ul>
    </div>
</div>

<div class="secondBloc">
    <h3>Que faire pour souscrire ce contrat ?</h3>
    <p>Une Expertise préalable sera effectuée pour évaluer les serres.    </p>
</div>

<div class="secondBloc">
    <h3>Que faire en cas de sinistre ?</h3>
    <p>Déclaration du sinistre dans un délai de 05 jours ouvrables.</p>
</div>